form {
    margin-left: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

label {
    width: 100%;
}

input {
    width: 15rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

form h3, form hr{
    width: 100%;
    margin-right: 0.5rem;
}


.next_options_grid {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

.next_options_grid_save {
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;;
    margin-bottom: 1rem;
    margin-right: 1rem; 
    column-gap: 0.3rem;
}

.next_options_grid button {
    border: 0.3rem solid green;
    margin: 0.3rem;
    height: 4em;
    text-align: center;
    background-color: aliceblue;
    width: 100%;
    font-size: 1em;
}

.next_options_grid_save button {
    border: 0.3rem solid green;
    height: 4em;
    text-align: center;
    background-color: aliceblue;
    width: 100%;
    font-size: 1em;
}

p[class="status"] {
    color: red;
    margin-left: 1rem;
    width: 50%;
}

.summary_list {
    list-style: none;
    padding-left: 0rem;
    width: 100%;
    margin-right: 0.5rem;
}

.summary_list li {
    height: 5rem;
    border: green 0.3rem solid;
    background-color: aliceblue;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 25% 75%;
}

.summary_location {
    margin: 0.3rem;
    font-size: 2rem;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    border: gray 0.1rem solid;
}

.summary_time {
    padding-left: 0.3rem;;
    margin: 0.3rem;
    font-size: 1rem;
    border: gray 0.1rem solid;
    display: grid;
    grid-template-rows: auto auto auto;
}