form {
    margin-left: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

label {
    width: 100%;
}

input, select {
    width: 15rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

form h3, form hr{
    width: 100%;
    margin-right: 0.5rem;
}

select {
    width: 15rem;
}


.next_options_grid {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

.next_options_grid_save {
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;;
    margin-bottom: 1rem;
    margin-right: 1rem; 
    column-gap: 0.3rem;
}

.next_options_grid button {
    border: 0.3rem solid green;
    margin: 0.3rem;
    height: 4em;
    text-align: center;
    background-color: aliceblue;
    width: 100%;
    font-size: 1em;
}

.next_options_grid_save button {
    border: 0.3rem solid green;
    height: 4em;
    text-align: center;
    background-color: aliceblue;
    width: 100%;
    font-size: 1em;
}

p[class="status"] {
    color: red;
    margin-left: 1rem;
    width: 50%;
}

p {
    display: flex;
    flex-wrap: wrap;
}

p span {
    width: 100%;
}

p[class="summary_paragraph"] span:nth-child(2n){
    color: black;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

p[class="summary_paragraph"] span:nth-child(2n + 1){
    color: darkslategrey;
    font-weight: bold;
}